#!/usr/bin/make -f
  
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk

DEB_INSTALL_CHANGELOGS_ALL := ChangeLog
DEB_PYTHON_SYSTEM=pysupport

binary-install/blueproximity::
	dh_pysupport -pblueproximity
install/blueproximity::
	install -m755 blueproximity $(CURDIR)/debian/blueproximity/usr/bin/blueproximity
    
