#!/usr/bin/make -f
  
DEB_INSTALL_CHANGELOGS_ALL := CHANGELOG.txt
DEB_PYTHON_SYSTEM=pysupport

include /usr/share/cdbs/1/rules/debhelper.mk

binary-install/blueproximity::
	dh_pysupport -pblueproximity
install/blueproximity::
	install -m755 blueproximity $(CURDIR)/debian/blueproximity/usr/bin/blueproximity
    
